{% extends 'base.html' %} {% block content %}

<h1>Friends List</h1>

{% for friend in friends %}
<div class="card">
  <a href="{% url 'detail' friend.id %}">
    <div class="card-content">
      <span class="card-title">{{ friend.name }}</span>
      <p>Ethnicity: {{ friend.ethnicity }}</p>
      <p>Height: {{ friend.height }}</p>
      {% if friend.age > 0 %}
      <p>Age: {{ friend.age }}</p>
      {% else %}
      <p>Age: Baby</p>
      {% endif %}
    </div>
  </a>
</div>
{% endfor %} {% endblock %}
